<div class="nav">
  <h1>Edit User</h1>
</div>

<form [formGroup]="form" >

  <div class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name: </mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="name?.errors?.['pattern']">
        Please enter valid name.
      </mat-error>
      <mat-error *ngIf="name?.errors?.['required']">
        Name is required
      </mat-error>
      <mat-error *ngIf="name?.errors?.['maxlength']">
        Please enter valid name.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="email?.errors?.['email'] && !email?.errors?.['required']">
       Please enter valid email address
      </mat-error>
      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Role:</mat-label>
      <mat-select formControlName="role" >
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Age: </mat-label>
      <input matInput placeholder="Age" formControlName="age">
      <mat-error *ngIf="age?.errors">
         Age must be over 18 and under 100
      </mat-error>
      <mat-error *ngIf="age?.errors?.['required']">
        Age required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Location:</mat-label>
      <mat-select formControlName="location" >
        <mat-option *ngFor="let location of locations" [value]="location.value">
          {{location.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone: </mat-label>
      <input matInput formControlName="phone" pattern="[+()0-9]{8,15}">
      <mat-error *ngIf="phone?.errors?.['pattern']">
        Enter valid number.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="form" [rangePicker]="picker" disabled>
      <input matStartDate formControlName="contractStartDate" placeholder="Start date">
      <input matEndDate formControlName="contractEndDate" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker touchUi disabled="false"></mat-date-range-picker>
    <mat-error *ngIf="contractStartDate?.errors?.['required']">
      Pick a date.
    </mat-error>
    <mat-error *ngIf="contractEndDate?.errors?.['required']">
      Pick a date.
    </mat-error>
  </mat-form-field>
  

  <div class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="description?.errors?.['maxlength']">
        Limited to 30 characters.
      </mat-error>
    </mat-form-field>
  </div>


  <div class="form-end">
    <button mat-raised-button disabled [disabled]="form.invalid" color="warn" (click)="updateUser()"> Update </button>
    <a routerLink="/user" class="mat-raised-button "> Cancel </a>
  </div>

</form>