<div class="menu">
    <h2 class="title">USERS</h2>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <span>Menu</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
            <mat-icon>verified_user</mat-icon>
            <span>Logged User: {{userDisplayName}}</span>
        </button>
        <button mat-menu-item routerLink="/addUser">
            <mat-icon>person_add</mat-icon>
            <span>Add new user</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>security</mat-icon>
            <span>Change password</span>
        </button>
        <button mat-menu-item class="logout" color="warn" (click)="logoutUserProfile()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</div>
<div>
    <form class="date-block" [formGroup]="form" (submit)="applyDateFilter()">
        <div class="date-block__list">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="fromDate" placeholder="From date" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate touchUi></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="toDate" placeholder="To date" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate touchUi></mat-datepicker>
            </mat-form-field>
            <button mat-button disabled [disabled]="form.invalid" color="primary" value="submit">Submit</button>
        </div>
    </form>
</div>
<div class="table">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange(sort)"
        class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Id </th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role"> Role </th>
            <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age"> Age </th>
            <td mat-cell *matCellDef="let element">{{element.age}}</td>
        </ng-container>
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by location"> Location
            </th>
            <td mat-cell *matCellDef="let element">{{element.location}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone"> Phone </th>
            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="contractStartDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contractStartDate">
                Start Date </th>
            <td mat-cell *matCellDef="let element">{{element.contractStartDate | date }}</td>
        </ng-container>
        <ng-container matColumnDef="contractEndDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contractEndDate"> End
                Date </th>
            <td mat-cell *matCellDef="let element">{{element.contractEndDate | date }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <a mat-stroked-button class="btn-edit" routerLink="/editUser/{{element.id}}" color="accent">Edit</a>
                <button mat-stroked-button color="warn" (click)="deleteUser(element.id)">Delete User</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
