<div class="nav">
    <h2>User login</h2>
</div>
<div class="log">
    <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="formSubmit(loginForm, formDirective)" class="form-box" >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username: </mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="username?.errors?.['required']">
                Name is required!
              </mat-error>
              <mat-error *ngIf="username?.errors?.['pattern']">
                Invalid name!
              </mat-error>
              <mat-error *ngIf="username?.errors?.['maxlength']">
                Name too long!
              </mat-error>
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password: </mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Password required!
              </mat-error>
          </mat-form-field>
        </div>
        <div class="button">
            <button [disabled]="loading" mat-stroked-button color="primary" (click)="isLoginOk(loginForm)">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login</button>
        </div>
        <div class="text-center sign-up">
            Don`t have an account ? <a mat-stroked-button color="primary" routerLink="../register">Register</a>
          </div>
    </form>
</div>